<h2>Line Chart with Bollinger Bands</h2>

<p>
    This line chart features Bollinger Bands, a technical analysis tool used in financial markets. It displays
    price movements along with the upper and lower bands, providing insights into market:
</p>
<ul>
    <li><strong>Real Time Price:</strong> Auccurate and complete realtime price data.</li>
    <li><strong>SMA Line:</strong> The Simple Moving Average (SMA) of the price over a specified period.</li>
    <li><strong>Upper Band:</strong> The center line plus a specified number of standard deviations.</li>
    <li><strong>Lower Band:</strong> The center line minus a specified number of standard deviations.</li>
</ul>

<figure id="price-chart"></figure>