:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    font-size: 14px;
    opacity: 0;
    transition: opacity 200ms;
}