<h2>Candlestick Chart</h2>
<p>
    A candlestick chart is a popular visualization tool for price movements in financial markets. It displays open,
    close, high, and low prices over specific time periods, offering valuable
    insights into market trends and sentiment for informed trading decisions.
</p>
<p style="color:rgb(233, 159, 159)">
    The data source does not provide complete daily candlestick data for cryptocurrencies, which could impact the
    accuracy and usability of the chart.
</p>
<br>

<figure id="candlestick-chart"></figure>